fastapi~=0.116.1
pydantic-settings~=2.10.1
databases~=0.9.0
python-json-logger
uvicorn
sqlalchemy~=2.0.42
mysql-connector-python
passlib[bcrypt]~=1.7.4
python-dotenv~=1.1.1
pydantic[email]~=2.11.7
rich~=14.1.0
python-multipart
bcrypt==3.2.0
python-jose~=3.5.0
aiomysql
asgi-correlation-id
starlette~=0.47.2
Flask~=3.1.1
asgiref~=3.9.1
aiosmtplib
requests
pytz